.bcg-hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/Img-bcg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.main-title {
    /* margin-top: 0;
    margin-bottom: 30;
     */
    width: 697px;
    text-align: center;
    margin: auto;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
}

.main-btn {
    display: inline-block;
    border-radius: 4px;
    min-width: 216px;
    height: 50px;
    margin-top: 30px;


    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--button-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}